[submodule "packages/contracts/lib/forge-std"]
	path = packages/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/contracts/lib/eas-proxy"]
	path = packages/contracts/lib/eas-proxy
	url = https://github.com/passportxyz/eas-proxy
